# Logs
*.log
npm-debug.log

# Dependency directory
node_modules

# Runtime data
tmp

# Examples (If applicable to your project)
example/
.github/
.gitignore
babel.config.js
yarn.lock
package-lock.json
